.container {
  box-sizing: border-box;
  max-width: 1440px;
  padding: 40px 80px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 430px) {
  .container {
    padding: 20px;
  }
}

.btn{
  padding: 8px 24px;
  border-radius: 10px;
  font: var(--font-p2);
  background: var(--a6);
  color: var(--a2);
  width: fit-content;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
  }
}