---

---

<header class="menu">
  <a href="/"><img src="../../public/logo.svg" alt="" /></a>

  <nav>
    <button class="burger" aria-label="Open menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu">
      <li><button class="close-menu" aria-label="Close menu">&times;</button></li>
      <li><a href="/">Home</a></li>
      <li><a href="/">Portfolio</a></li>
      <li><a href="/">Blog</a></li>
      <li><button class="btn" data-cal-link="leo-crisci/calendar" data-cal-namespace="calendar" data-cal-config='{"layout":"month_view","useSlotsViewOnSmallScreen":"true"}'>Book a Call</button></li>
    </ul>
  </nav>
</header>
